<!-- /recipes/_instruction_fields -->

<div class="nested-fields">
  <%= f.text_field :description, class: "form-control" %>
  <div class="text-right">
    <%= link_to_remove_association f do %>
      <span class="glyphicon glyphicon-remove"></span>remove
    <% end %>
  </div>
</div>
