<!-- /recipes/_recipe -->

<!-- Card -->
<div class="card">
  <!--Card image-->
  <% if current_user == recipe.user %>
    <%= link_to image_tag(recipe.image, class: "card-img-top"), user_recipe_path(current_user, recipe) %>
  <% else %>
    <%= link_to image_tag(recipe.image, class: "card-img-top"), recipe_path(recipe) %>
  <% end %>

  <!--Card body -->
  <div class="card-body">
    <h4 class="card-title"><%= recipe.name %></h4>
    <p class="card-text"><%= recipe.description %></p>
    <button type="button" class="btn btn-light-blue btn-md">Read more</button>
  </div> <!-- Card body -->
</div> <!-- Card -->
