<!-- /recipes/edit -->

<div class="jumbotron">
  <h1 class="text-center display-4">Edit recipe</h1>
  <hr>
</div>

<%= render partial: 'form', locals: { recipe: @recipe, categories: @categories, ingredients: @ingredients, measurements: @measurements } %>
