<!-- /recipes/index -->

<div class="container-fluids">
  <!-- Card columns -->
  <div class="card-columns">
    <% @recipes.each do |recipe| %>
      <%= render partial: 'recipe', locals: {recipe: recipe} %>
    <% end %>
  </div> <!-- Card columns -->
</div> <!-- Container -->
