<!-- /recipes/search -->

<%= render partial: 'shared/jumbotron', locals: { title: "#{@recipe_name} Recipes" } %>

<div class="container-fluids">
  <% if @recipes.count == 0 %>
    <p class="text-center card-text"><small class="text-muted"><%= pluralize(@recipes.count, 'Recipe') %></small></p>
    <p class="text-center">Sorry, no recipes found. Try more unspecific terms or change the search terms.</p>
  <% end %>
</div> <!-- Container -->

<!-- Render recipes  -->
<% if @recipes.count > 0 %>
  <%= render partial: 'recipe', locals: { recipes: @recipes } %>
<% end %>