<!-- /recipes/index -->

<%= render partial: 'shared/jumbotron', locals: { title: "Recipes found: " + @recipes.count.to_s } %>

<div class="container-fluids">
  <!-- Card columns -->
  <div class="card-columns">
    <%= render partial: 'recipe', collection: @recipes %>
  </div> <!-- Card columns -->
</div> <!-- Container -->
