<!-- /users/show -->

<div class="text-center">
  <h1 class="display-4"><%= @user.name %></h1>
  <%= image_tag @user.avatar.variant(combine_options: { resize: "300x200", extent: "300x200", background: "grey", gravity: "center"}) %>
  <hr>
</div>

<!-- Render recipes  -->
<%= render partial: 'recipes/recipe', locals: { recipes: @recipes } %>