<!-- _footer -->

<footer class="page-footer font-small blue pt-4">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3"><small>© 2019 Copyright:
    <a href="https://github.com/nichia/kitchenandrecipes-js"> Ni Chia</a></small>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
