<!-- /welcome/home -->

<%= render partial: 'shared/jumbotron', locals: { title: "Kitchen&Recipes" } %>

<!-- Render recipes  -->
<%#= render partial: 'recipes/recipe', locals: { recipes: @recipes } %>

<button id="all-recipes">Get Recipes</button>
<div id="ajax-container">************ DUMMY TEXT AJAX CONTAINER *************</div>