<!-- /welcome/home -->

<div class="jumbotron">
  <div class="text-center">
    <h1>Kitchen&Recipes</h1>
    <!-- <strong>Group by</strong><br> -->
      <!-- <%#= link_to "Meal category", categories_group_path %> |
      <%#= link_to "Recipe Owner", users_group_path %> -->
  </div>
</div>

<div class="container-fluids">
  <!-- Card columns -->
  <div class="card-columns">
    <%= render partial: 'recipes/recipe', collection: @recipes %>
  </div> <!-- Card columns -->
</div> <!-- Container -->
