<!-- /welcome/home -->

<%= render partial: 'shared/jumbotron', locals: { title: "Kitchen&Recipes" } %>


<div class="container-fluids">
  <p class="text-center card-text"><small class="text-muted"><%= pluralize(@recipes.count, 'Recipe') %></small></p>
  <!-- Card columns -->
  <div class="card-columns">
    <%= render partial: 'recipes/recipe', collection: @recipes %>
  </div> <!-- Card columns -->
</div> <!-- Container -->
