{{!-- /recipes/show --}}

{{debug}}
<div class="container">
  <div class="text-center">
    <h1>{{recipe.name}}</h1>

    <img class="card-img-top" src="{{recipe.image}}">

    <p class="card-text"><small class="text-muted">by
    <a href="/api/users/{{recipe.user_id}}/recipes", class="my_recipes">{{recipe.user.name}}</a>
    | {{recipe.created_at}}
    | {{recipe.reviews.length}} Reviews
    </br>category <a href="/categories/{{recipe.category_id}}">{{recipe.category_name}}</a>
    </small></p>
    <hr>
    <p>{{recipe.description}}</p>
  </div>

  <p><strong>Yields:</strong> {{recipe.yields}} {{recipe.yields_size}}</p>
  <p><strong>Prep time:</strong> {{recipe.prep_time}}</p>
  <p><strong>Cook time:</strong> {{recipe.cook_time}}</p>

  {{!-- Ingredients --}}
  {{!-- display in ascending id order --}}
  <h5>Ingredients:</h5>
  {{#each recipe.recipe_ingredients}}
    <p><strong>{{quantity}}</strong> {{unit}}
      {{name}} {{description}}</p>
  {{/each}}
  
  {{!-- Instructions --}}
  {{!-- display in ascending id order --}}
  <h5>Instructions:</h5>
  {{#each recipe.instructions}}
    <p> {{counter @index}}. {{description}}</p>
  {{/each}}

  <hr>


</div> {{!-- Container --}}

