<!-- /categories/show -->

<div class="text-center">
  <h1 class="display-4"><%= @category.name.titleize %></h1>
    <%= image_tag("#{@category.slug}.jpeg", height: '156', width: '182') %>
  <hr>
</div>

<!-- Render recipes  -->
<%= render partial: 'recipes/recipe', locals: { recipes: @recipes } %>